body {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 110%;
}

nav {
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

nav div#logo {
  width: 200px;
}

div#logo > a {
  text-decoration: none;
}

div#logo > a > span {
  padding: 0px;
  margin: 0px;
  color: #aaa;
  display: inline-block;
}

div#logo > a > span#logo-growth {
}

div#logo > a > span#logo-os {
  font-weight: bolder;
  color: #3bb3bd;
}

nav span.navitem {
  margin: 0;
  padding: 0;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  text-align: center;
  margin: auto;
}

nav span.navitem:hover {
  background-color: rgb(40, 44, 47);
}

nav > div#navitems > span.navitem > a {
  color: #aaa;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

div.infoblock {
  min-height: 300px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

div.infoblock > h1 {
  font-weight: 100;
  text-align: center;
}

div.infoblock-color {
  color: #fff;
  background-color: #3bb3bd;
}

div.info-container-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

div.info-container-block {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  min-height: 200px;
}

div.info-container-block > h2 {
  text-align: center;
}

button {
    margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
  background-color: #3bb3bd;
  color: #fff;
  padding: 15px 32px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.055);
}
