<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {{ if .IsHome -}}
        <title>{{ .Site.Title }}</title>
        {{- else -}}
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        {{- end -}}
        <link rel="stylesheet" href="/css/growthos.css" type="text/css" media="screen" title="growth os" charset="utf-8">
    </head>

    <body>
        <div class="navheader">
            <nav>
                <ul>
                    <li><a href="home.html">Growth OS</a></li>
                    <li><a href="outline.html">Course Outline</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
